/node_modules
/Dockerfile
/dist
/public
/docs
/bin
/yarn-lock.json
/package-lock.json

.nuxt/*
.husky/*
.idea
.local
.npmrc
.DS_Store

*.yaml
*.sh
*.md
*.woff
*.ttf

package.json
jsconfig.json
tsconfig.json